@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bot-bar {
  @include flexCenter();
  position: absolute;
  background-color: rgba(107, 107, 107, 0.135);
  height: 3.2rem;
  width: 100%;
  bottom: 0%;
  backdrop-filter: blur(20px);
  .icons-container {
    @include flexCenter();
    gap: 0.75rem;

    .search {
      background-color: rgba(255, 255, 255, 0.063);
      height: 2rem;
      width: 150px;
      border-top: 0.5px solid rgba(255, 255, 255, 0.132);
      backdrop-filter: blur(10px);
      border-radius: 1rem;
      overflow: hidden;
      @include flexCenter();
      justify-content: start;
      gap: 0.5rem;
      color: white;
      padding: 0px 0.5rem;
      i {
        font-size: 1.2rem;
      }
      input {
        all: unset;
        box-sizing: border-box;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
      }
    }
    .icon {
      @include flexCenter();
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.2rem;
      transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      img {
        pointer-events: none;
        height: 75%;
        width: 75%;
      }
      img:hover {
        filter: brightness(150%);
      }
    }
    .icon:active {
      transform: scale(0.75);
    }
    .icon:hover {
      box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.083);
      background-color: rgba(128, 128, 128, 0.181);
    }
  }
}
